{% extends 'base/base.html' %}
{% load static %}
{% block title %} WorkBench | Create Warehouse Stock Position {% endblock %}
{% block subheader %} Create Warehouse Stock Position {% endblock %}
{% block content %}

    <div class="kt-grid__item kt-grid__item--fluid kt-grid kt-grid--hor kt-bg-greylighter">
        <!-- begin:: Subheader -->
        <div class="kt-subheader kt-grid__item" id="kt_subheader">
            <div class="kt-subheader__main">
                <h3 class="kt-subheader__title kt-font-transform-c">
                    Create Warehouse Stock Position
                </h3>
                <span class="kt-subheader__separator kt-hidden"></span>
                <div class="kt-subheader__breadcrumbs lead">
                    <a href="#" class="kt-subheader__breadcrumbs-home">
                        <div class="vl"></div>
                    </a>
                    <a href="" class="kt-subheader__breadcrumbs-link">
                        <span class="lead page-title-color-size">Warehouse Stock Position</span></a>
                </div>
            </div>
        </div>
        <!-- end:: Subheader -->

        <!-- begin:: Content -->
        <div class="kt-content kt-grid__item kt-grid__item--fluid" id="kt_content">

            <!--begin::Portlet-->
            <div class="kt-portlet">
                <div class="kt-portlet__body">
                    <div class="row">
                        <div class="col-md-12 col-sm-12 kt-margin-b-5-tablet-and-mobile">
                            <div class="kt-form__group">
                                <label class="col-form-label">Warehouse</label>
                                <div class="kt-form__control">
                                    <select class="form-control mx-select" id="id_warehouse"
                                            name="warehouse" data-col-index="3">
                                        <option value="">Select Warehouse</option>
                                        {% for warehouse in warehouses %}
                                            <option value="{{ warehouse.code }}"
                                                    {% if warehouse.code == request.GET.warehouse %}
                                                    selected="selected"
                                                    {% endif %}> {{ warehouse.name }}</option>
                                        {% endfor %}
                                    </select>
                                </div>
                            </div>
                        </div>





























                        <!-- START FORM CREATE -->
                        <div class="col-sm-12 col-md-12 kt-margin-b-5-tablet-and-mobile" id="create_form" style="float: left;">
                            {% if warehouse_weekly_formset %}
                                <form class="m-form" method="post" action="{% url 'audit:create_warehouse_audit' %}?warehouse={{ request.GET.warehouse }}"
                                      id="create_warehouse_stock" novalidate>
                                    {% csrf_token %}
                                    <div class="col-sm-12 kt-form__group kt-padding-l-30"
                                         id="warehouse-weekly-inline-form">
                                        {{ warehouse_weekly_formset.management_form }}
                                        <div class="form-set">
                                            {% for form in warehouse_weekly_formset %}
                                                <div class="row">
                                                    {% for field in form.visible_fields %}
                                                        <div class="col-sm-12 col-md-4 form-group kt-padding-r-50 kt-padding-l-50">
                                                            <label for="{{ field.name }}">
                                                                {{ field.label|safe }}
                                                                {% if field.field.required %}
                                                                    <span class="required">*</span>
                                                                {% endif %}
                                                            </label>
                                                            <div class="kt-form__control">
                                                                {{ field }}
                                                                <span class="kt-form__help">{{ field.errors }}</span>
                                                            </div>
                                                        </div>
                                                    {% endfor %}
                                                    {% for hidden in form.hidden_fields %}
                                                        {{ hidden }}
                                                    {% endfor %}
                                                </div>
                                            {% endfor %}        
                                        </div>


                                        
                                        <button class="btn btn-brand add-form-row" id="add-form-row"
                                                style="margin-top: 30px;"
                                                type="button">Add New Item
                                        </button>&nbsp;





                                        {% for field in comment_form %}
                                            <div class="col-sm-12 col-md-6 form-group"
                                                 id="{{ field.id_for_label }}_group">
                                                <div class="kt-form__group">
                                                    <label for="{{ field.name }}">{{ field.label|safe }}</label>
                                                    <div class="kt-form__control">
                                                        {{ field }}
                                                        <span class="kt-form__help">{{ field.errors }}</span>
                                                    </div>
                                                </div>
                                            </div>
                                        {% endfor %}
                                        <button type="submit" class="btn btn-brand" style="margin-top: 30px;">Submit
                                        </button>&nbsp;
                                    </div>
                                </form>

                            {% endif %}
                        </div>
                        <!-- END FORM CREATE -->





































                        

                    </div>
                </div>
            </div>
        </div>
        <!--end::Portlet-->
    </div>
    <!-- content end-->

    </div>

{% endblock %}

{% block js %}
    <script>

        var prefix = 'warehouseweeklystock_set';
        jQuery(document).ready(function () {
            var arrows;
            if (KTUtil.isRTL()) {
                arrows = {
                    leftArrow: '<i class="la la-angle-right"></i>',
                    rightArrow: '<i class="la la-angle-left"></i>'
                }
            } else {
                arrows = {
                    leftArrow: '<i class="la la-angle-left"></i>',
                    rightArrow: '<i class="la la-angle-right"></i>'
                }
            }
            /*
                        // enable clear button
                        $('#






            {{ form.date.id_for_label }}').datepicker({
                rtl: KTUtil.isRTL(),
                todayHighlight: true,
                orientation: "bottom left",
                templates: arrows
            });
            */
        });
    </script>
    <script src="{% static 'classic/assets/js/demo12/jqueryformset.js' %}" type="text/javascript"></script>

    <script>
        $('#id_warehouse').on('change', function () {
            location.href = "{% url 'audit:create_warehouse_audit' %}?warehouse=" + this.value;

        });
        {% if warehouse_weekly_formset %}
            $('.form-set').formset({
                prefix: 'warehouseweeklystock_set'
            });
        {% endif %}
        function submit_form() {
            $('#create_warehouse_stock').submit();
        }
    </script>
{% endblock %}
